global
    maxconn 50000
    daemon
    cpu-map auto:1/1-4 0-3

defaults
    mode http
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    timeout http-request 10s
    option http-server-close
    option dontlognull

frontend whoami_frontend
    bind *:8002
    mode http
    option forwardfor
    default_backend whoami_backend

backend whoami_backend
    mode http
    balance roundrobin
    http-check send-state
    option httpchk GET /
    http-check expect status 200
    server whoami1 whoami-1:80 check
    server whoami2 whoami-2:80 check
    server whoami3 whoami-3:80 check
    server whoami4 whoami-4:80 check
